*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/img/bg1221.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

.letter {
  width: 100%;
  height: autos;
  max-width: 1000px;
  padding: 40px;
 margin: 40px auto;
  font-size: clamp(16px, 2.5vw, 22px);
  line-height: 1.8;

  /* Glass effect */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* Styling */
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  color: #000000;
  text-align: justify;
}
.mc{
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn{
   margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #eb1971;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: block;
  margin: 20px auto 0 auto;
}


.hearts-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.heart {
  position: absolute;
  top: -10px;
  font-size: 16px;
  color: rgba(255, 0, 80, 0.8);
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}